DOCKER_PREFIX=metrics
ANYPOINT_USERNAME=xxxxxxxxx
ANYPOINT_PASSWORD=xxxxxxxxx
ANYPOINT_ORG_NAME=xxxxxxxxx
ANYPOINT_ENV_NAME=xxxxxxxxx
SERVER_NAME=xxxxxxxxx
TARGET_TYPE=server
TARGET_NAME=xxxxxxxxx
METRICS_APP_PORT=8081
